<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<meta charset="UTF-8">
<title>Records</title>
</head>
<body>

<h1 th:text="${pageTitle}"></h1>
<table class="table table-light">
	<thead>
	<tr>
		<th scope="col">Artist</th>
		<th scope="col">Title</th>
		<th scope="col">Year</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="item: ${record}">
		<td th:text="${item.artist}"></td>
		<td th:text="${item.title}"></td>
		<td th:text="${item.year}"></td>
	</tr>
	</tbody>
</table>